/* General styles for larger screens */
body {
    font-size: 1.2rem; /* 1rem is equivalent to the root font size (typically 16px) */
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a:hover {
    color: #ff009d;
}

.content {
    font-family: Arial, sans-serif;
    max-width: 50rem; /* 800px in relative units */
    padding: 1.25rem; /* 20px in relative units */
    text-align: left;
    background-color: #282828;
    border-radius: 0.625rem; /* 10px in relative units */
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5); /* 10px in relative units */
    border: 0.125rem solid transparent; /* 2px in relative units */
}

/* Styles for smaller screens (e.g., smartphones) */
@media (max-width: 37.5rem) { /* 600px in relative units */
    body {
        font-size: 1rem; /* 16px in relative units */
    }

    .content {
        padding: 0.625rem; /* 10px in relative units */
    }
}

.header-title {
    background-color: #383838;
    display: inline-block;
    padding: 0.625rem; /* 10px in relative units */
    border-radius: 0.625rem; /* 10px in relative units */
    margin-top: 0; /* Remove the default top margin */
    margin-bottom: 0.3125rem; /* 5px in relative units */
}

.connect-section {
    display: flex;
    align-items: center;
    margin-top: 0.625rem; /* 10px in relative units */
}

.logo {
    display: flex;
    gap: 1.25rem; /* 20px in relative units */
    margin-left: 1.25rem; /* 20px in relative units */
    align-items: center;
}

.logo-link {
    color: white;
}
